body{
    background:#ededed;
}
.topbar{
    background: #fff;
    padding:20px 0;
    font-weight: bold;
    box-shadow: 1px 1px 3px #999;
}
.content{
    color:#555;
    padding-top:20px;
}
.menu{
	  padding-top:22px;
}
.notes .media-body h5{
	font-size: 19px;
    color: #8f8f8f;
}
.notes .media img{
	float: left;
	margin-right: 20px;
}