<div ng-controller="createUserController">
  <h1>Create new user</h1>
  <div class="panel">
    <div class="panel-body">
      <form action="" method="POST">
        <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="username">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="password">
      </div>
      <input type="submit" class="btn btn-primary" ng-click="createUser()">
      </form>
    </div>
  </div>
  
</div>

