<div ng-controller="notesController">
  <div class="form-group">
    <label><h1>Notes</h1></label>
    <input type="text" class="form-control" ng-model="search" placeholder="search note">
  </div>
  <div class="panel panel-body notes">
      <ul class="list-unstyled">
        <li class="media">
          <img class="d-flex mr-3" src="images/img.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Marwan</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        </li>
        <li class="media my-4">
          <img class="d-flex mr-3" src="images/img.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Salma</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img class="d-flex mr-3" src="images/img.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Omar</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </ul>
  </div>
</div>
